
<p>
  <strong>Commenter:</strong>
  <%= picture_comment.commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= picture_comment.body %>
</p>

<p>
  <%= link_to 'Destroy Comment', [picture_comment.picture, picture_comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
