
<p>
  <strong>name:</strong>
  <%= @picture.title %>
</p>

<p>
  <strong>Pictures:</strong>
  <%= @picture.text %>
</p>

<%= link_to 'Back', pictures_path %>
| <%= link_to 'Edit', edit_picture_path(@picture) %>
